<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
        <defaultDocument>
            <files>
                <add value="homepage.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
